In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import user, password
import os
from create_db import create_db

In [2]:
create_db()

'Success'

In [3]:
engine = create_engine(f"postgresql+psycopg2://{user}:{password}@localhost:5432/collisions_db")
UK_Final_file = os.path.join("..","Staging","UK_Final.csv")
Canada_Final_file = os.path.join("..","Staging","Canada_Final.csv")

In [4]:
uk_final_df = pd.read_csv(UK_Final_file, low_memory = False)
canada_final_df = pd.read_csv(Canada_Final_file, low_memory = False)

In [5]:
connection = engine.connect()

In [6]:
uk_final_df.to_sql("Collision_Data_UK",connection, if_exists="replace")

In [7]:
canada_final_df.to_sql("Collision_Data_Canada",connection, if_exists="replace")

In [9]:
test_uk = pd.read_sql_table("Collision_Data_UK",connection)
test_uk.head()

,index,Collision_Year,Collision_Month,Casualty_Position,Casualty_Severity,Casualty_Gender,Casualty_Age,Number_of_Vehicles,Vehicle_Type,Vehicle_Year,Driver_Gender,Driver_Age,Accident_Index
0,0,2009,1,Motorcyclist,Non-Fatal,Male,77,2,Motorcycle,1983,Male,77,200901BS70001
1,1,2009,1,Motorcyclist,Non-Fatal,Male,77,2,Passenger Vehicle,2007,Male,31,200901BS70001
2,2,2009,5,Motor Vehicle Occupant,Non-Fatal,Male,40,2,Cargo Vehicle,2006,Male,40,200901BS70002
3,3,2009,5,Motor Vehicle Occupant,Non-Fatal,Male,40,2,Bus,2008,Male,38,200901BS70002
4,4,2009,5,Motor Vehicle Occupant,Non-Fatal,Male,38,2,Cargo Vehicle,2006,Male,40,200901BS70002

In [10]:
test_can = pd.read_sql_table("Collision_Data_Canada",connection)
test_can.head()

,index,Collision_Year,Collision_Month,Collision_Severity,Number_of_Vehicles,Vehicle_Type,Person_Gender,Person_Position,Person_Age,Vehicle_Year
0,0,2009,1,Non-Fatal,01,Passenger Vehicle,Male,Motor Vehicle Occupant,75,Undisclosed
1,1,2009,1,Non-Fatal,01,Passenger Vehicle,Female,Motor Vehicle Occupant,21,Undisclosed
2,2,2009,1,Non-Fatal,01,Passenger Vehicle,Female,Motor Vehicle Occupant,34,Undisclosed
3,3,2009,1,Non-Fatal,02,Passenger Vehicle,Female,Motor Vehicle Occupant,50,Undisclosed
4,4,2009,1,Non-Fatal,02,Passenger Vehicle,Male,Motor Vehicle Occupant,63,Undisclosed